# Python
__pycache__/
.cache/
*.pyc

# virtualenv
[Bb]in
[Ii]nclude/
[Ll]ib/
[Ll]ib64/
[Ll]ocal/
[Ss]cripts/
tcl/

# Pip
pip-selfcheck.json

# Project files
*.db
config.ini
debug.ini
production.ini
testing.ini
*.log

